:root {
  --red: #d22f26;
  --black: #000000;
  --white: #fff;
  --grey: #686868;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: 'Roboto', sans-serif;
}

.main-container {
  max-width: 500px;
  margin: auto;
  background-color: var(--black);
  padding-bottom: 72px;
  position: relative;
}

.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--black);
  max-width: 500px;
}

.nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 500px;
  width: 100%;
  height: 64px;
}
.nav-link {
  text-decoration: none;
  color: var(--grey);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.active {
  color: var(--white);
}

.logo {
  width: 55.84px;
  height: 25.49px;
  margin: 16px 16px;
}

.header {
  position: absolute;
  z-index: 10;
  width: 100%;
  max-width: 500px;
  background-color: rgba(0, 0, 0, 0.1);
}

.sub-header {
  width: 235px;
  height: 25.49px;
  list-style: none;
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: space-between;
}

.sub-header li a {
  text-decoration: none;
  color: var(--white);
  font-size: 14px;
}

.hero {
  width: 100%;
  height: 583px;
  background-image: url(/icons/judeus-samson-rAomxXulMNM-unsplash.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}
.hero-content {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin-bottom: 5px;
}
.hero-content h1 {
  margin-bottom: 12px;
  color: var(--white);
}
.moods-list {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  color: white;
  margin-bottom: 12px;
  font-size: 11.2px;
}

.moods-list-item {
  margin-right: 11px;
}

.toolbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.play-button {
  width: 118px;
  height: 32px;
  background-color: var(--white);
  color: var(--black);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
}
.icon-button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  justify-content: space-between;
  width: 38px;
  height: 43px;
  font-size: 11.2px;
}

.movies-list {
  height: 176px;
  margin-top: 14px;
  margin-left: 16px;
}

.category-title {
  font-size: 17.5px;
  margin-bottom: 8px;
  color: var(--white);
}

.movie-card {
  width: 96px;
  height: 144px;
  margin-right: 8px;
  background-position: center;
  background-size: cover;
  display: inline-block;
}

.movie-scroll {
  max-width: 484px;
  overflow: auto;
  white-space: nowrap;
}

.back-header {
  height: 48px;
  display: flex;
  align-items: center;
}

.back-header svg {
  margin-left: 16px;
}

.back-hero-img {
  width: 100%;
  height: 275px;
  background-size: cover;
  background-position: center;
  margin-bottom: 1rem;
}

.back-subtitle {
  color: var(--white);
  font-size: 24.34px;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 8px;
}
.back-subtitle h2 {
  margin-bottom: 0.5rem;
}

.text-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.back-subtitle p {
  font-size: 14px;
}

.text-green {
  color: #71d074;
}
.text-gray {
  color: var(--grey);
}
.back-buttons {
  display: grid;
  margin: 16px;
  height: 72px;
}

.back-button-play {
  height: 32px;
  margin-bottom: 5px;
  background-color: var(--white);
  color: var(--black);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
}
.back-button-desc {
  height: 32px;
  background-color: var(--grey);
  color: var(--white);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
}

.text-description {
  height: 230px;
  margin: 16px;
  margin-top: 8px;
  margin-bottom: 32px;
}

.description {
  color: var(--white);
  font-size: 14px;
}

.description-two {
  color: var(--grey);
  font-size: 11.2px;
  text-align: justify;
  margin-top: 40px;
}

.back-tollbar {
  display: flex;
  justify-content: space-around;
  margin-bottom: 24px;
  width: 182px;
  height: 43px;
}

.red-bar {
  border: none;
  border-bottom: 4px solid var(--red);
  width: 7.1875rem;
  margin-left: 1rem;
}
